.menu { 
    margin-left: 550px;
    top: -57px;
    width: 800px;
    position: relative;
    text-align:center;
    transition: all 0.8s;
	-webkit-transition: all 0.8s;

    .title {
        background-color: rgb(250, 221, 114);
        width:100%;
        height: 30px;
    }
}

.menu:hover {
    transform: translate3d(0,50px,0);
    animation-timing-function: 3s ease-in;
}