.timer {
    display: flex; 
    flex-direction: row;
    align-items:center;
    column-gap:5px;
    margin-top:-5px;

    button {
        height:30px;
        text-align:center;
        width:50px;
        box-shadow: 1px 1px #666;
    }
}