.market-screen {    
    .market-environment { 
        display:grid;
        grid-template-columns: repeat(3,500px);
        width:1500px;
        height: 750px;
        border: 1px double black;
        margin-left: 10%;
        font-family:'Times New Roman', Times, serif;

        caption, .caption{
            color:white;
            border: 1px solid white;
            background-color: #262626;
            font-weight: bolder;
            font-size: large;
            text-transform: uppercase;
        };
    };

    .market-config { 
        display:flex;
        flex-direction: column;
        align-items:center;
        margin-top:-45px;
        margin-bottom:10px;
        margin-left: 850px;
        width: 200px;
        
        button {
            font-size: 15px;
            // font-weight: bolder;
            text-align: center;
            cursor: pointer;
            // &:hover {
            //     background-color: black;
            // };
            &:active {
                box-shadow: 0 2px #666;
                transform: translateY(2px);
            };
            height: 100%;   
        }
    }
}