table {
    color: black;
    text-align: center;

    th {
        color: white;
        background-color: black;
    }                                          
    tr:nth-child(2n) {
        background-color: lightgray;
    }
  }