table {
    color: black;
    text-align: center;
    width: 100%;
    height: 100%;

    th {
        color: white;
        background-color: black;
        text-transform: capitalize;
    }      

    tr:nth-child(2n) {
        background-color: lightgray;
    }
}

.table { 
    overflow: auto;
    align-items: center;
    border: 1px solid black;
}