.market-environment { 
    display: flex;
    flex-direction: row;
    height: 400px
}

.market-screen { 
    display: grid; 
    grid-template-columns: repeat(3, 500px);
}

.market-control { 
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}